<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Contact Management</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/contacts">All Contacts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contacts/add">Add Contact</a>
        </li>

    </ul>
</nav>